{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h3 class="text-center mt-5 mb-6">Оформление заказа</h3>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Изображение</th>
      <th scope="col">Наименование</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
      <th scope="col">Сумма</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
          <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"> </td>
          <th scope="row">{{ item.content_object.title }}</th>
          <td>{{ item.content_object.price }} руб.</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.total_price }} руб.</td>
        </tr>
    {% endfor %}
          <tr>
             <td colspan="2"></td>
             <td>Итого:</td>
             <td>{{ cart.total_products }}</td>
             <td><strong>{{ cart.total_price }} руб.</strong></td>

          </tr>

  </tbody>
</table>
<hr>
    <h3 class="text-center mt-5 mb-6">Форма заказа</h3>
<form action="{% url 'make_order' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-success btn-block mb-3" value="Оформить заказ">
</form>
{% endblock content %}